<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://dubbo.apache.org/schema/dubbo"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
            http://dubbo.apache.org/schema/dubbo
            http://dubbo.apache.org/schema/dubbo/dubbo.xsd">

    <dubbo:protocol name="dubbo" port="20883" />
    
    <dubbo:application name="iot-rule-engine"/>

    <dubbo:registry address="zookeeper://localhost:2181" client="curator"/>

    <!-- services -->
    <dubbo:service ref="actorService"
                   group="rule"
                   interface="com.ruyuan.jiangzh.iot.actors.ActorService"/>

    <!-- references -->
    <dubbo:reference check="false"
            interface="com.ruyuan.jiangzh.service.sdk.UserServiceAPI"/>

    <dubbo:reference check="false"
                     interface="com.ruyuan.jiangzh.service.sdk.TenantServiceAPI"/>

</beans>