<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruyuan.jiangzh.iot.user.domain.infrastructure.repository.impl.mapper.TenantMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ruyuan.jiangzh.iot.user.domain.infrastructure.repository.po.TenantPO">
        <result column="uuid" property="uuid" />
        <result column="email" property="email" />
        <result column="phone" property="phone" />
        <result column="name" property="name" />
    </resultMap>

    <select id="queryAllTenantIds" resultType="java.lang.String">
        select uuid from tenant
    </select>

</mapper>
